@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

body {
    background: hsl(0, 0%, 97%);
    font-family: 'New Rocker', cursive;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: ridge 5px hsl(42, 79%, 67%);
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'UnifrakturCook', cursive;
}

h1 {
    font-weight: bolder;
    font-size: 55px;
}

h2 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

header > img {
    width: 150px;
}

main {
    margin-top: 20px;
}

form {
    display: grid;
    margin-top: 20px;
}

label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: ridge 2px hsl(42, 79%, 67%);
    height: 30px;
}

input:focus {
    background-color: hsl(42, 79%, 77%);
    border: ridge 5px hsl(42, 79%, 67%);
    outline: none;
}

#submit {
    font-family: 'New Rocker', cursive;
    font-size: 20px;
    background-color: hsl(42, 79%, 67%);
    border: groove 5px hsl(42, 79%, 77%);
    border-radius: 10px;
    padding: 25px;
    transition: 0.5s;
}

#submit:hover, #submit:focus {
    background-color: hsl(42, 79%, 77%);
    border: groove 6px hsl(42, 79%, 57%);
    font-weight: bold;
}

.inventory-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: ridge 2px hsl(42, 79%, 67%);
    vertical-align: middle;
}

tbody {
    width: 75%;
    height: 100px;
    text-align: center;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: 30px;
    padding: 10px;
}

tr {
    width: 75%;
    text-align: center;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}

.item-name {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    font-size: 25px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

#next, #previous {
    font-family: 'New Rocker', cursive;
    font-size: 20px;
    background-color: hsl(42, 79%, 67%);
    border: groove 5px hsl(42, 79%, 77%);
    border-radius: 10px;
    padding: 25px;
    transition: 0.5s;
}

#next:hover, #next:focus, #previous:hover, #previous:focus {
    background-color: hsl(42, 79%, 77%);
    border: groove 6px hsl(42, 79%, 57%);
    font-weight: bold;
}